@import '../../App.scss';
.navbar{
    width: 100%;
    font-size: 14px;
    color: white;
    background-color: linear-gradient(to top, tranparent 0%, rgba(0,0,0,.3) 50%);
    position: fixed;
    top: 0;
    z-index: 999;

        &.scrolled{
            background-color: var(--main-color);
        }
        .navbar_container{
            padding: 0 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 70px;

                .nav_left{
                    display: flex;
                    align-items: center;
                        h1{
                            margin-right: 20px;
                            color: red;
                            cursor: pointer;
                            text-transform: uppercase;

                            @include mobile{
                                display: none;
                            }
                           }
                        span{
                            margin-right: 10px;
                            font-size: 18px;
                            cursor: pointer;
                            
                            @include tablet{
                                display: none;
                            }

                            &.navbarmainLinks{
                                @include tablet{
                                    display: block;
                                } 
                            }
                        }   
                }
                .nav_right{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                        .user_img{
                            height: 32px;
                            width: 32px;
                            object-fit: cover;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                        .profile_container{
                            .options{
                                display: none;
                                background-color: var(--main-color);
                                border-radius: 5px solid;
                                transition: 1s all ease-in-out;
                            }
                                span{
                                    padding: 10px;
                                }
                            &:hover{
                                .options{
                                    display: flex;
                                    flex-direction: column;
                                    position: absolute;
                                    cursor: pointer;
                                }
                            }
                        }
                        .icons{
                            margin: 0px 15px ;

                        }
                }
                   
        }
}