:root{
    --main-color : #0b0b0b;
}

.link{
    text-decoration: none;
    color: inherit;
}

@mixin tablet {
    @media (max-width:768px) {
        @content;
    }
}


@mixin mobile {
    @media (max-width:480px) {
        @content;
    }
}